/* Set up colors */
* {
    margin: 0px;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #03001c;
    --secondary-bg: #301e67;
    --primary-color: #5b8fb9;
    --secondary-color: #b6eada;
    --primary-fg: #f4f9e9;
    --secondary-fg: #d4d9d9;

    --h1-size: 3rem;
    --h3-size: 2rem;
}


html {
    background: var(--main-bg);
}


header {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.header-img {
    position: fixed;
    z-index:-1;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height:100%;
    filter: brightness(.5);
}


.header-text {
    display:flex;
    font-family: 'Nunito', sans-serif;
    flex-flow: column;
    z-index: 10;
    align-items: center;
    justify-content: center;
    color: var(--primary-fg);
}

.header-text h1 {
    font-weight: 500;
}

.header-text h3 {
    color: var(--secondary-fg);
    font-weight: 500;
}

main {
    width: 100%;
    color: var(--primary-fg);
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 80px;
    background: var(--main-bg);
    background-image: url("img/shapes-opacity-corrected.png");
    background-blend-mode: color-dodge;
    background-repeat: repeat;
    padding-bottom: 100px
}

.down-arrow {
    position: absolute;
    z-index: 1000;
    left: calc(50% - 15px);
    top: 92%;
    width: 30px;
    height: 30px;
    animation: up-and-down 2s ease-in-out infinite;
}

.about-me {
    display:flex;
    min-height: 270px;
    align-items: center;
    justify-content: center;
    padding: 70px 15%;
    animation: fade-from-top 1s ease-out;
}

.about-me__circle {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary-bg);
    border-radius: 50%;
    max-width: 270px;
    max-height: 270px;
    margin: 10px;
}

.about-me__circle img {
    object-fit: cover;
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;
    padding: 5px;
}

.about-me__text {
    display: flex;
    flex-flow: column;
    justify-items: center;
    padding: 5px;
}

.about-me__text h1 {
    color: var(--primary-fg);
    margin: 0;
    font-size: var(--h1-size)
}

.about-me__text hr {
    border: 1px solid var(--secondary-bg);
    margin: 10px 0;
}

.dot-separator {
    display: flex;
    justify-content: center;
}

.dot {
    background: var(--primary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    line-height: 10px;
}

.my-skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 70px 10%;
}

.my-skills h1 {
    color: var(--primary-fg);
    margin: 0;
    font-size: var(--h1-size);
    padding: 15px;
}

.my-skills hr {
    width: 90%;
    border: 1px solid var(--secondary-bg);
}


.skills {
    display: grid;
    grid-auto-rows: 300px;
    grid-auto-flow: column;
    grid-gap: 80px;
    margin: 15px 10px;
    grid-template-columns: 1fr 1fr 1fr;

}


.skills__skill {
    display: flex;
    width: 200px;
    flex-flow: column;
    align-items: center;
}

.skills__skill__img {
    padding: 10px;
    height: 150px;
    width: 150px;
}


.skills__skill h3 {
    padding: 10px 10px 30px 10px;
    font-size: var(--h3-size);
    text-align: center;
}

.skills__skill p {
    text-align: center;
}


/*               */
/* Media queries */
/*               */

@media (max-width: 900px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .about-me {
        flex-direction: column;
    }
}



/*            */
/* Animations */
/*            */

@keyframes up-and-down {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(15px)
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes fade-from-top {
    from {
        transform: translateY(-10px);
        opacity: 10%;
    }

    to {
        transform: translateY(0px);
        opacity: 100%
    }
}
