/* Set up colors */
* {
    margin: 0px;
    scroll-behavior: smooth;
}

:root {
    --main-bg: #03001c;
    --secondary-bg: #301e67;
    --primary-color: #5b8fb9;
    --secondary-color: #b6eada;
    --primary-fg: #f4f9e9;
    --secondary-fg: #d4d9d9;

    --h1-size: 3rem;
    --h3-size: 2rem;
    --shadow: 0 0 110px 10px var(--secondary-bg);
}


html {
    background: var(--main-bg);
}


header {
    object-fit: contain;
    height: 90vh;
}

nav {
    position: fixed;
    z-index: 200;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: var(--main-bg); */
}

.nav__logo {
    width: 60px;
    height: 60px;
    padding: 15px 30px;
}

.nav__socials {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.nav__socials__item {
    width: 30px;
    height: 30px;
    padding: 15px;
    transition: .5s transform ;
}

.nav__socials__item:hover {
    transform: scale(120%);
}

.header-img {
    position: fixed;
    top:0;
    left: 0;
    z-index:-1;
    margin: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(.5);
}

.header-title {
    display:flex;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    flex-flow: column;
    z-index: 10;
    align-items: center;
    justify-content: center;
    color: var(--primary-fg);
    text-align: center;
}

.header-title h1 {
    font-weight: 500;
    font-size: 3rem;
}

.header-title h3 {
    color: var(--secondary-fg);
    font-weight: 500;
    font-size: 1.6rem;
}

main {
    width: 100%;
    color: var(--primary-fg);
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 80px;
    background: var(--main-bg);
    background-image: url("img/shapes-opacity-corrected.png");
    background-blend-mode: color-dodge;
    background-repeat: repeat;
    padding-bottom: 100px
}

.down-arrow {
    position: absolute;
    z-index: 1000;
    left: calc(50% - 15px);
    top: 92%;
    width: 30px;
    height: 30px;
    animation: up-and-down 2s ease-in-out infinite;
}

.arrow-invisible {
    opacity: 0;
    transition: 1s opacity;
}

.about-me {
    display:flex;
    min-height: 270px;
    align-items: center;
    justify-content: center;
    padding: 70px 15%;
    animation: fade-from-top 1s ease-out;
}

.about-me__circle {
    display:flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--secondary-bg);
    border-radius: 50%;
    max-width: 270px;
    max-height: 270px;
    margin: 10px;
}

.about-me__circle img {
    object-fit: cover;
    max-width: 95%;
    max-height: 95%;
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--shadow);
}

.about-me__text {
    display: flex;
    flex-flow: column;
    justify-items: center;
    padding: 5px;
}

.about-me__text h1 {
    z-index: 10;
    color: var(--primary-fg);
    margin: 0;
    font-size: var(--h1-size);
    
}

.about-me__text hr {
    border: 1px solid var(--secondary-bg);
    margin: 10px 0;
    box-shadow: var(--shadow);
}

.dot-separator {
    display: flex;
    justify-content: center;
}

.dot {
    background: var(--primary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    line-height: 10px;
    box-shadow: var(--shadow);
}

.my-skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 70px 10%;
}

.my-skills h1 {
    color: var(--primary-fg);
    margin: 0;
    font-size: var(--h1-size);
    padding: 15px;
}

.my-skills hr {
    width: 90%;
    border: 1px solid var(--secondary-bg);
    box-shadow: var(--shadow);
}


.skills {
    display: grid;
    grid-auto-rows: 300px;
    grid-auto-flow: column;
    grid-gap: 80px;
    margin: 15px 10px;
    grid-template-columns: 1fr 1fr 1fr;

}


.skills__skill {
    display: flex;
    width: 200px;
    flex-flow: column;
    align-items: center;
}

.skills__skill__img {
    padding: 10px;
    height: 150px;
    width: 150px;
}


.skills__skill h3 {
    padding: 10px 10px 30px 10px;
    font-size: var(--h3-size);
    text-align: center;
}

.skills__skill p {
    text-align: center;
}



/*               */
/* Media queries */
/*               */

@media (max-width: 900px) {
    .skills {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 400px);
    }

    .about-me {
        flex-direction: column;
    }
}



/*            */
/* Animations */
/*            */

@keyframes up-and-down {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(15px)
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes fade-from-top {
    from {
        transform: translateY(-10px);
        opacity: 10%;
    }

    to {
        transform: translateY(0px);
        opacity: 100%
    }
}
